.popup-container {
    display: none; /* Initially hidden */
    position: fixed;
    top: -100%; /* Start off-screen */
    right: 0;
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 300px;
    transition: top 0.5s ease; /* Transition for smooth movement */
}

.popup-container.active {
    display: block;
    top: 0; /* Slide in from the top */
}

/* Styles for the popup button */
.popup-button {
    position: fixed;
    bottom: 50px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* Mood modal */
.mood-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    border-radius: 20px;
    padding: 35px 0px;
    display: none; /* Initially hidden */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
@media only screen and (max-width: 600px) {
   .mood-modal{
    width: max-content;
   }
  }

.mood-modal.active {
    display: block; /* Show the modal when active */
}
.emojis-container{
    border-radius: 20px !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#banner{
    margin-bottom: 10px;
    margin-top: 10px;

    border-radius: 30px;
}
main {
    width: 100%;
    background-color:  #8bc536;
    border-radius: 30px;
    position: relative;
    padding:20px 0px;
    margin-bottom: 10px;
  }


  main#selftest{
    background-color: #6dd3ce;
  }
  main#coping{
    background-color: #8267c6;
  }
  main#performance{
    background-color: #c2a1f0;
  }
  h4 {
    margin-top: 10px;
    color: white;
    font-size: 14px;
    font-weight: 300;
      margin-left:20px;
  
  }
  
  h2 {
    margin-bottom: 10px;
    color: black;
    font-size: 20px;
    margin-left:20px;
  
  }
  button.start {
    padding: 6px 20px;
    margin-left:20px;
    border-radius: 100px;
    border: none;
    background-color: white;
    font-size: 16px;
    cursor: pointer;
  }
  #selftestimg {
    position: absolute;
    bottom: -40px;
    right: -120px;
    height: 200px;
    width: 300px;
    background-image: url("../images/todo1.png");
    background-repeat: no-repeat;
    background-size: auto 90%;
  }
  #copingimg {
    position: absolute;
    bottom: -49px;
    right: -100px;
    height: 200px;
    width: 300px;
    background-image: url("../images/3d-rendering-cartoon-like-woman-doing-yoga-PhotoRoom.png-PhotoRoom.png");
    background-repeat: no-repeat;
    background-size: auto 150px;
  }
  #journalimg {
    position: absolute;
    bottom: -35px;
    right: -140px;
    height: 200px;
    width: 300px;
    background-image: url("../images/m028t0142_d_teacher_resources_01sep22-PhotoRoom.png-PhotoRoom.png");
    background-repeat: no-repeat;
    background-size: auto 180px;
  }
  #performancearrow{
    position: absolute;
    bottom: 60px;
    right: 50px;
    height: 0px;
    width: 0px; 
 

  }
  
  